<div [ngSwitch]="mode">
  <div *ngSwitchDefault>
    <dl>
      <dt>Name:</dt>
      <dd> {{playlist.name}} </dd>

      <dt>Favourite</dt>
      <dd [style.font-size.%]=" 115 ">
        {{playlist.favourite? 'Yes':'No'}}
      </dd>

      <dt>Color</dt>
      <dd [style.color]="playlist.color"> {{ playlist.color }} </dd>
    </dl>
    <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
  </div>

  <form *ngSwitchCase=" 'edit' " #formRef="ngForm" (ngSubmit)="save(formRef,$event)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel">
    </div>

    <div class="form-group">
      <label>Favourite</label>
      <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
    </div>

    <div class="form-group">
      <label>Color</label>
      <input type="color" [ngModel]="playlist.color" name="color">
    </div>

    <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
    <input type="submit" value="Save" class="btn btn-success">
  </form>

</div>