.form-group .ng-invalid.ng-touched,
.form-group .ng-invalid.ng-dirty {
  border: 2px solid red;
}

/* 
  == OR ==
*/

.form-group .ng-invalid {
  &.ng-touched,
  &.ng-dirty {
    border: 2px solid red;
  }
}
