<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">
  <p *ngIf="queryForm.pending">Please wait ...</p>

  <ng-container *ngIf="queryForm.get('query') as queryField">
    <div *ngIf="queryField.touched || queryField.dirty" class="text-danger">
      <div *ngIf="queryField.hasError('required')">
        Field is required
      </div>
      <div *ngIf="queryField.getError('minlength') as error">
        Minimal query length is {{error.requiredLength}}
      </div>
      <div *ngIf="queryField.getError('censor') as error">
        Not allowed "{{error.badword}}"
      </div>
    </div>
  </ng-container>

</div>
