<div class="row">
  <div class="col">
    <app-search-form
      [query]="query$ | async"
      (queryChange)="search($event)">
    </app-search-form>

  </div>
</div>
<div class="row">
  <div class="col">

    <p class="alert alert-danger" *ngIf="message">
      {{message}}
    </p>

    <app-album-grid [albums]="albums$ | async ">
    </app-album-grid>

  </div>
</div>
