<!-- .list-group>.list-group-item -->

<div class="list-group">
  <div class="list-group-item" 
      *ngFor="let playlist of items let i = index trackBy trackFn"
      
      (click)="select(playlist)"
      [class.active]=" playlist.id == selected?.id "

      [ngClass]="{
        placki: true 
      }"> 
      <span class="fas fa-play"></span> {{i+1}} {{playlist.name}}
  </div>

<!--   <ng-template ngFor [ngForOf]="playlists" let-playlist let-i="index">
  </ng-template>
 -->
</div>
