:host-context(.theme-placki) p {
  color: hotpink;
}

/*
:host() ::ng-deep p{
  color: red !important;
} */

:host(.bordered) {
  border: 1px solid black;
  display: block;
}

/* @import "variables";

:host {
  color: $primaryColor !important;
}
 */

//  @import "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/mixins';

.my-icon {
  @include fa-icon();
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
