<!-- 
  .row>.col*2
 -->

<div class="row">
  <div class="col">
    <app-items-list [items]="playlists$ | async" [selected]="selected$ | async" (selectedChange)="select($event)">
    </app-items-list>
  </div>

  <div class="col">
    <app-playlist-details *ngIf="(selected$ | async) as playlist; else empty" [playlist]="playlist" (playlistSave)=" savePlaylist($event) ">

    </app-playlist-details>

    <ng-template #empty>
      <p>Please select a playlist</p>
    </ng-template>

  </div>
</div>
