/* You can add global styles to this file, and also import other style files */

/* 
app-items-list p{  
  color: hotpink;
} */

/* 
npm i bootstrap --save
*/
/* 
@import "styles/variables";

body {
  color: $primaryColor;
}
 */
@import "~bootstrap/scss/bootstrap";
/* 
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "styles/my-variables";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/utilities"; 
*/

/*
@import "~bootstrap/scss/mixins/grid";

.article{
  @extends makeCol(2);
}

*/
